<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Dual - <%= title %></title>    
    <%- include('../views/partials/head.ejs'); %>   
</head>

<body>
    <div id="page-404">
        <h1 style="font-weight: 800;">404</h1>
        <p style="font-weight: 300;">Desculpe pelo transtorno, mas não achamos o que você procura!</p>
    </div>
</body>

</html>