<title><%= title %> </title>
<%- include('../views/partials/head.ejs'); %>

<body class="background-dark">
        <div class="container-fluid">
            <div class="row position-absolute top-50 start-50 translate-middle">
                <div class="col-xs-12">
                    
                    <form action="registrar" method="POST" id="registerForm">
                        <div class="row mb-3">
                            <img src="../public/images/DUAL-logo1.png" alt="logo da aplicação dual" class="img-fluid">
                        </div>
                        <div class="row mb-3">
                            <input type="email" class="form-control" name="inputEmail" placeholder="Digite seu e-mail">
                        </div>
                        <div class="row mb-3">
                            <input type="text" class="form-control" name="inputUser" placeholder="Digite seu usuário">
                        </div>
                        <div class="row mb-3">
                            <input type="password" class="form-control" name="inputPassword" placeholder="Digite sua senha">
                        </div>
                        <div class="row mb-3">
                            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirme sua senha">
                        </div>
                        <div class="row mb-3">
                            <button class="btn btn-light dualButton" type="submit" form="registerForm">Cadastrar</button>
                        </div>
                        <div class="row mb-3">
                            <a href="login">
                                <div class="row mb-3">
                                    <button id="returnButton" class="btn btn-light dualButton" type="button">Voltar</button>
                                </div>
                            </a>
                        </div>

                    </form>
                </div>
                
                <%- include('../views/partials/footer.ejs'); %>
            </div>

        </div>

        <%- include('../views/partials/bootstrap_js.ejs'); %>
</body>