<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Dual - <%= title %> </title>
    <%- include('../views/partials/head.ejs'); %>
</head>

<body id="upload-page">
    <%- include('../views/partials/header.ejs'); %>
    <!-- <h1 class="relative" height="37"> 
        <p2 title="Sair"style="float:right;background-color: rgb(255,0,0);">X </p2>
        <p2 title="Duvidas"style="float:right;color:white;">? </p2>
        <img title ="Aluno"src="/public/Perfil.jpg" left="-200px" width="37" height="37"style="float:right;" alt="Usuario">
        Dual   
     </h1>  -->
    <div class="container">
        <div class="row row-cols-2">
            <div>
                <p> Por favor insira sua atividade.</p>
                <form method="post" enctype="multipart/form-data" action="/upload">
                    <label for="fname">Nome do Aluno:</label><br>
                    <input type="text" id="fname" name="fname"><br>
                    <label for="lname">Nome da Atividade:</label><br>
                    <input type="text" id="lname" name="lname"><br><br>
                    <input type="file" name="file">
                    <br>
                    <input type="submit" value="enviar">

                </form>
            </div>
        </div>
    </div>


    <footer>
        <%- include('../views/partials/footer.ejs'); %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>