#icons {
    margin: 100px;
}

#icons h3 {
    padding: 10px;
    text-align: center;
}

#icons svg:hover {
    color: #70a288;
}

#navbar-header svg {
    color: white;
    width: 32px;
    height: 32px;
    margin: 0px 15px;
}

a, a:valid, a:link {
    color: #212529;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

#page-404 { 
    margin: 25px;
    text-align: center;
}


.background-dark {
    background-color: #15202B;
    font-family: 'Open Sans', sans-serif;
    color: #D0DCDC;
    /* margin-top: 20vh;
    margin-left: 10vh; */
}

#registerForm {
    padding: 0 10em;
}

#formsLogin a {
    color: #D0DCDC;
    text-decoration: none;
    text-decoration: underline;
}

.dualButton {
    border: none;
    background-color: #FFA400;
    /* font-family: 'Libre Baskerville', serif; */
}

.dualButton:hover {
    background-color: #FFA400;
}

#returnButton {
    background-color: #FFD07F;
}

#coluna1 p {
    margin-top: 25px;
    margin-bottom: 0;
    font-family: 'Libre Baskerville', serif;
}

#coluna1 a {
    color: #D0DCDC;
    text-decoration: none;
    text-decoration: underline;
    margin-top: 0;
    padding-top: 0;
    font-family: 'Libre Baskerville', serif;
}

#containerLogin {
    margin-right: 25em;
}

.form-control {
    border-radius: 15px;
}

.btn {
    border-radius: 15px;
}

#bordaDisciplina{
    border-radius: 10px;
    background: #040608;
    width: 1500px;
    height: 60px; 
    position: relative;
    top: 153px;
    left: 311px;
}
#bordaAnotações{
    border-radius: 10px;
    color: white;
    background: #040608;
    width: 400px;
    height: 30px; 
    margin-top: 100px; 
    margin-left: 1411px;
    text-align: center;
}