#icons {
    margin: 100px;
}

#icons h3 {
    padding: 10px;
    text-align: center;
}

#icons svg:hover {
    color: #70a288;
}

#navbar-header svg {
    color: white;
    width: 32px;
    height: 32px;
    margin: 0px 15px;
}

a, a:valid, a:link {
    color: #212529;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#page-404 { 
    margin: 25px;
    text-align: center;
}


footer {
    margin: 10px;
}

