#icons {
    margin: 100px;
}

#icons h3 {
    padding: 10px;
    text-align: center;
}

#icons svg:hover {
    color: #70a288;
}

#navbar-header svg {
    color: white;
    width: 32px;
    height: 32px;
    margin: 0px 15px;
}

.textDual {
    font-family: 'Libre Baskerville', serif;
}

a,
a:valid,
a:link {
    color: #212529;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.background-dark {
    background-color: #15202B;
    font-family: 'Open Sans', sans-serif;
    color: #D0DCDC;
}

#formsLogin a {
    color: #D0DCDC;
    text-decoration: none;
    text-decoration: underline;
}

#formsLogin {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dualButton {
    border: none;
    background-color: #FFA400;
}

.dualButton:hover {
    background-color: #FFA400;
}

#returnButton {
    background-color: #FFD07F;
}

.form-control {
    border-radius: 15px;
}

.btn {
    border-radius: 15px;
}

#bordaDisciplina {
    border-radius: 10px;
    background: #040608;
    width: 1500px;
    height: 60px;
    position: relative;
    top: 153px;
    left: 311px;
}

#bordaAnotações {
    border-radius: 10px;
    color: white;
    background: #040608;
    width: 400px;
    height: 30px;
    margin-top: 100px;
    margin-left: 1411px;
    text-align: center;
}

.spanForms {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

#pattyFW {
    text-decoration: none;
    color: D0DCDC;
}

#pattyFW:hover {

    color: white;
    text-decoration: underline;

}
