#background-color {
    background-color: rgba(21, 32, 43, 1);
    
}

.form{
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.card{
    box-shadow: 1px, 1px, 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.card-top{
    text-align: center;
}

.card-group{
    margin: 10px;
}
.card-group > label{
    width: 100%;
    color: rgb(75, 75, 75);
    display: block;
}
.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}
.esqueceuSenha{
    text-align: center;
}
.card-group>button{
    background-image: linear-gradient(to right, turquoise ,#27776f);
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
}

.disciplinas-title{
    margin: 10px 230px;
    color: white;
}

.container-navigation{
    background-color: rgba(41, 59, 81, 1);
    height: min-content;
    width: 90%;
    border-radius: 15px;
    
}
.btn-warning{
   background-color: rgba(222, 244, 247, 1); 
   color: black;
   margin: 10px 40px;
   position: relative;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 40px;
   padding-right: 40px;
   box-align: initial;
   text-align: left;
   border-radius: 10px;
   
}
.btn-warning:hover{
    background-color: rgba(255, 183, 58, 1);
}
.btn-warning:focus{
    background-color: rgba(255, 164, 0, 1);
}
.me-2{
  margin: 10px 1px;
  border-radius: 10px;
  background-color: rgba(222, 244, 247, 1);
  color: #ccc;
  padding: 2px 10px;
  
}
.accordion-item{
    position: relative;
    margin-top: 20px;
    border-radius: 30px;
    width: 100%;
    height: 40px;
    background-color: rgba(41, 59, 81, 1);
}

.accordion-flush{
    border-radius: 30px;
    position: relative;
    width: 90%;
    border-radius: 10px;
}

.accordion-header{
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    position: relative;
}
.justify-content-center{
    margin-left: 160px;
    width: 90%;
}
.futuras-title{
    color:white;
    padding-bottom: 5px;
    padding-left: 10px;
}
.accordion-body{
    position: relative;
    padding: 5px;
    color: white;
}
#abertas{
    border-radius: 30px;
}
#fechadas{
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 400px;
}