body{
    background-color: #f0f0f0;
}

.form{
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.card{
    box-shadow: 1px, 1px, 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.card-top{
    text-align: center;
}

.card-group{
    margin: 10px;
}
.card-group > label{
    width: 100%;
    color: rgb(75, 75, 75);
    display: block;
}
.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}
.esqueceuSenha{
    text-align: center;
}